modules = ["php", "php-8.1"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "SGC-AgentOne Server"

[[workflows.workflow]]
name = "SGC-AgentOne Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php sgc-agentone/core/server.php"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33775
externalPort = 3000

[[ports]]
localPort = 35405
externalPort = 3002

[[ports]]
localPort = 39773
externalPort = 3001
